<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="meetup">
      <section name="signedGroupUrls" type="System.Configuration.NameValueSectionHandler" />
      <section name="signedEventUrls" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <meetup>
    <signedGroupUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="https://api.meetup.com/nnugoslo?photo-host=public&sig_id=97103452&sig=d380f2a20c6ae82dec7ad8a9f3472445790437ce" />
      <add key="nnug-bergen" value="https://api.meetup.com/nnug-bergen?photo-host=public&sig_id=97103452&sig=0d56d745b437ca8789ed38e9270137c61e14b678" />
      <add key="nnug-trondheim" value="https://api.meetup.com/nnug-trondheim?photo-host=public&sig_id=97103452&sig=4f11b5acafb12dd02e2dfa598e8dba5f8a9e74aa" />
      <add key="nnug-stavanger" value="https://api.meetup.com/nnug-stavanger?photo-host=public&sig_id=97103452&sig=407f3e4ebd0c62f9a81b7b9c0e4188bc82d3c7d0" />
      <add key="nnug-kristiansand" value="https://api.meetup.com/nnug-kristiansand?photo-host=public&sig_id=97103452&sig=da114171b5c747ee3f57f23e783ebff6ca79dea1" />
      <add key="nnug-haugesund" value="https://api.meetup.com/nnug-haugesund?photo-host=public&sig_id=97103452&sig=6ff484ea37147c8240d06fb192a813770eb83cb1" />
      <add key="nnug-vestfold" value="https://api.meetup.com/nnug-vestfold?photo-host=public&sig_id=97103452&sig=362ea5a3605d704fd272fc908f5d274081ea66f7" />
    </signedGroupUrls>
    <signedEventUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="https://api.meetup.com/nnugoslo/events?photo-host=public&page=20&sig_id=97103452&sig=ba18d81a5588cf53e6a948b4a4ad716d9c7e2616" />
      <add key="nnug-bergen" value="https://api.meetup.com/nnug-bergen/events?photo-host=public&page=20&sig_id=97103452&sig=1d016e5af22512648a4530be6613a558f92fcc5f" />
      <add key="nnug-trondheim" value="https://api.meetup.com/nnug-trondheim/events?photo-host=public&page=20&sig_id=97103452&sig=f65779ef3e93949d52287e67b5f7d38006a10a4d" />
      <add key="nnug-stavanger" value="https://api.meetup.com/nnug-stavanger/events?photo-host=public&page=20&sig_id=97103452&sig=b8e57086ae7a96e4a7d7d2e8ac846646e17c73b6" />
      <add key="nnug-kristiansand" value="https://api.meetup.com/nnug-kristiansand/events?photo-host=public&page=20&sig_id=97103452&sig=e89056aad69413e6b0fb4fe874d1007b859e9292" />
      <add key="nnug-haugesund" value="https://api.meetup.com/nnug-haugesund/events?photo-host=public&page=20&sig_id=97103452&sig=58f6cfd9ec8f657b8b3c04938e39551dd8273e65" />
      <add key="nnug-vestfold" value="https://api.meetup.com/nnug-vestfold/events?photo-host=public&page=20&sig_id=97103452&sig=0d3aa137fa0aee2f39fd528c34b42f675af104d8" />
    </signedEventUrls>
  </meetup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
