<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="meetup">
      <section name="signedGroupUrls" type="System.Configuration.NameValueSectionHandler"/>
      <section name="signedEventUrls" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <meetup>
    <signedGroupUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnugoslo&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=ddc91e97c08892afc6ae3f2b0589c1abc3ede700" />
      <add key="nnug-bergen" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-bergen&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=63430bfa5fc21311453dfa6634128ffe591646cf" />
      <add key="nnug-trondheim" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-trondheim&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=53b633cb7d9c686414b2ae404e147d6df6a75cfe" />
      <add key="nnug-stavanger" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-stavanger&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=d1871b35eb3d65f13e0d5552e093f9010c16d61a" />
      <add key="nnug-kristiansand" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-kristiansand&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=57d1d81038358c39e1bbd42616bab75b04df28c9" />
      <add key="nnug-haugesund" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-haugesund&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=ccafe2146cddd6db62ff022f549ef1fe6214729c" />
      <add key="nnug-vestfold" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-vestfold&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=4721ff3bbc591323eca26937734531cb69154dcc" />
    </signedGroupUrls>
    <signedEventUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnugoslo&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=40a6078cac936b154e57abbf6fa4af5d712c371a" />
      <add key="nnug-bergen" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-bergen&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=bd232dd34b136e514d0ff7654cfacd9a137bbc9c" />
      <add key="nnug-trondheim" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-trondheim&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=1c5c7f6501cfec9d57ea563cf1dea3319e3aabf5" />
      <add key="nnug-stavanger" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-stavanger&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=1221c8606c7717c7c107d45d124ea0e3d322532d" />
      <add key="nnug-kristiansand" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-kristiansand&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=217f24aa462c67676f35a2b8eaa2ddac055bf481" />
      <add key="nnug-haugesund" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-haugesund&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=b52e3a15d5b95eac92a9d025621b0aca919686c5" />
      <add key="nnug-vestfold" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-vestfold&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=2578c1c88a0217ea0e899417b3ff2a8748d6de1b" />
    </signedEventUrls>
  </meetup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
