<div class="content-block">
    <h1>Om NNUG</h1>

    <h2>Historie</h2>

    <p>Ideen om NNUG oppstod i april 2001. .NET brukergrupper begynte da å oppstå i større byer i USA. Flere av initiativtakerene var Microsoft Regional Directors. Regional Directors er ikke ansatt i Microsoft, de er uavhengige arkitekter og utviklere som gjennom RD rollen setter seg inn i Microsoft teknologi og deler kunnskap med lokale utviklermiljøer og gir tilbakemelding fra utviklermiljøet til Microsoft.</p>
    <p>Tanken om å etablere et .NET brukergruppe i Norge ble luftet for deltakere på MSDN seminarer og WinCity våren 2001. Responsen var god og i august 2001 ble det etablert en web-site, <a href="http://www.nnug.no">www.nnug.no</a>.</p>
    <p>
        Det første møtet ble arrangert 30. oktober 2001 i Oslo. Invitasjon gikk ut til alle som da hadde registrert seg på NNUG og via Microsofts MSDN mailliste. 60 personer møtte. Det var tre faglige presentasjoner av personer som har jobbet med .NET. Etter den faglige delen var det en plenumsdiskusjon om hva .NET skal gjøre. Følgende kom da bl.a. opp:
    <ul>
        <li>Pub-kvelder</li>
        <li>Lukkede diskusjonsgrupper på websiten</li>
        <li>Sette sammen et styre for NNUG</li>
        <li>Flere brukergruppemøter</li>
    </ul>
        Alle som var interessert i å være med å drive NNUG videre ble invitert til å melde seg. 4 personer gjorde dette og det ble etablert et styre for NNUG.
    </p>
    <p>Siden da har det vært kjørt mange brukergruppemøter, og mange har registrert seg som medlemmer.</p>

</div>
