<div class="content-block">
    <h1>Hva skal til for å starte en ny avdeling</h1>
    
    <p>Er det ingen NNUG avdeling i nærheten av der du bor? Har du lyst til å starte opp en ny avdeling, være aktiv deltaker i brukergruppemøter og andre arrangementer i nærområdet.</p>
    <p>NNUG har ingen krav til størrelsen på regionen eller antall potensielle medlemmer. All jobb som utføres i regi av NNUG er per definisjon frivillig, og ikke noe du kan regne med å bli rik av (det imidlertid kjekt å ha på CVen sin.)</p>
    <p>Erfaringsmessig er det bra å fordele styreposter til personer fra forskjellige firma. Det har både med arbeidsbelastningen til den enkelte og troverdigheten til NNUG å gjøre. Det kan til tider være mye å gjøre (men stort sett er det ikke det), og da kan det være vanskelig å argumentere for den brukte tiden ovenfor sin arbeidsgiver, spesielt hvis det er snakk om to eller tre personer som mister fakturerbar tid (spesielt viktig for konsulentfirmaene der ute.)</p>
    <p>Vi har et ønske om en viss aktivitet i alle NNUG avdelingene, da spesielt regelmessige brukergruppemøter. Det må ikke være møter en gang i måneden, det kan være oftere eller mer sjelden, men det bør ikke gå for lang tid mellom møtene. Det fører til misnøye blant medlemmene.</p>

    <h2>Hva gir det deg?</h2>
    <p>Å være leder eller medlem i styret for en NNUG avdeling er en spennende, og tidvis krevende oppgave. Det vanskeligste er å finne fram til personer som vil komme å snakke på brukergruppemøter. Men, i denne prosessen møter du veldig mange interessante mennesker, på alle nivå i firmaer og organisasjoner rundt omkring. Du vil veldig fort få et navn som blir gjennkjent i de tekniske fora i ditt nærmiljø.</p>
    <p>Vi oppfordrer alle i styrene og de som holder foredrag til å presentere seg selv og sitt firma på en ordentlig måte. Spesielt viktig er det å kunne fortelle sjefen at den tiden du bruker på diverse NNUG aktiviteter faktisk gir noe tilbake til bedriften. Det er ikke snakk om å benytte 10 minutter av en faglig presentasjon på å fortelle om deg selv og berdiften din, men gjerne en tidlig slide med informasjon som du kan nevne.</p>
    <p>Vi har flere eksempler på at bedrifter som aktivt satser på å være synlige i communities som NNUG tjener på det i det lange løp. Det å ha flere ansatte som bidrar i NNUG sammenheng gir ett inntrykk av at firmaet satser på ny og spennende teknologi. Det tiltrekker seg teknologi-sultne medarbeidere.</p>

    <h2>Hva vi forventer av deg?</h2>
    <ul>
        <li>Vi forventer at du gjør en god jobb for å finne et optimalt styre for NNUG i din region.</li>
        <li>At du og resten av styret forsøker å arrangere minst 4 brukergruppemøter i året.</li>
        <li>Oppdaterte og innholdsrike sider for ditt område her på nnug.no.</li>
        <li>At du har mulighet til å reise i Norge minimum en gang pr. år (helst 2 ganger) for å delta på et sentralt NNUG møte for alle ledere og styremedlemmer. På disse møtene er det ønskelig at alle avdelinger er representert med minst en representant (helst lederen.) Lederen vil kunne få dekket reiseutgifter (ikke tapt arbeidsinnsats). Disse møtene avholdes som regel i Oslo.</li>
        <li>Du må aktivt bidra sammen med de andre lederne og styremedlemmene for å ta NNUG videre til nye høyder, med innspill til aktiviteter, informasjon på nettstedet vårt osv.</li>
    </ul>
    <p>NNUG forsøker å begrense styrenes direkte utgifter i så stor grad som overhodet mulig. Det er ikke meningen at styremedlemmer eller avdelingsledere skal betale for aktiviteter eller pådra seg andre typer direkte utgifter, da NNUG ikke har mulighet til å refundere slike.</p> 
</div>