<div class="content-block">
    <h1>Ofte stilte spørsmål</h1>

    <h2>Hvor finnes NNUG?</h2>
    <p>NNUG finnes i alle de største byene i Norge. Du finner de forskjellig avdelingene ved å gå til denne lenken. Det finnes også tilsvarende brukergrupper ute i den store verden ([land/by] .Net User Group). Internasjonalt er NNUG underlagt INETA som bl.a. hjelper oss med internasjonale forelesere.</p>

    <h2>Hva tilbyr NNUG?</h2>
    <p>NNUG har møter på kvelden (hver måned i de største byene) hvor vi stiller med lokale, nasjonale og/eller internasjonale forelesere. Vi fokuserer på Microsoft .Net, men har også innslag fra relaterte teknologier og prosesser. Temaene varierer mellom erfaringsbaserte foredag og foredrag om ny teknologi.</p>

    <h2>Koster det noe å være medlem?</h2>
    <p>Nei! Det koster ingenting og du har ingen forpliktelser som medlem. Derimot blir vi veldig glad om det er mange som møter opp når vi avholder møter.</p>

    <h2>Er NNUG styrt av Microsoft?</h2>
    <p>Nei. NNUG er en uavhengig frivillig organisasjon uten økonomi. Vi blir derimot sponset av lokale, nasjonale og internasjonale aktører, deriblant Microsoft.</p>

    <h2>Hvorfor må jeg registrere meg?</h2>
    <p>En av grunnene er at vi serverer mat på møtene våre og for at vi skal vite hvor mye mat vi skal bestille må medlemmene registrere seg på møtene. Det er også ut fra ren statistisk interesse ønskelig å vite hvor mange medlemmer vi har i NNUG. Dette sier også noe om potensialet vi har, om vi har store nok lokaler, hvilke tema som var populære/ikke populære osv. Du kan derimot være trygg på at privat informasjon du legger igjen på NNUG (som epost) ikke blir delt videre til andre.</p>

    <h2>Er jeg nødt til å stille på NNUG etter at jeg er blitt medlem?</h2>
    <p>Nei. Vi setter derimot stor pris på når mange stiller på NNUG møtene som avholdes. Vi jobber mye med å hente inn forelesere og aktuelle tema hver eneste måned, og når mange medlemmer stiller er dette en god indikasjon på at vi har gjort en god jobb.</p>

    <h2>Kan jeg holde innlegg hos NNUG?</h2>
    <p>Absolutt! Vi oppfordrer alle våre medlemmer til å stille med innlegg. Du trenger ikke være proff for å kunne bidra. Vi har alt fra 10-15 minutters innlegg (Zip Talk) til 1-2 timers innlegg. Vi er veldig opptatt av at NNUG skal være et lokalmiljø hvor du kan dele dine erfaringer med andre som du til daglig ikke omgås. Vi tror at nettopp dette gjør NNUG til en unik uavhengig samlingsplass for .Net interesserte utviklere.</p>

    <h2>Hvordan kan dere stille med internasjonale forelesere når NNUG ikke har økonomi?</h2>
    <p>Ettersom NNUG er medlem av INETA har vi tilgang til et større nettverk av internasjonale forelesere. Dette sammen med sponsing fra lokale, nasjonale og internasjonale aktører (deriblant Microsoft) gjør at vi har muligheten til dette. Det er også mange forelesere som ønsker å besøke brukergrupper nettopp fordi de vet hvilket arbeid og engasjement vi legger ned i vårt lokale miljø, uten å ta betalt for arbeidet vårt. Mange er eller har vært engasjert i sin lokale brukergruppe og startet ofte sin karriere som foreleser nettopp der.</p>

    <h2>Kan jeg presentere produktet vårt på NNUG?</h2>
    <p>Til en viss grad, men ikke direkte. Hvis produktet deres er direkte knyttet til .Net og er av generell interesse for våre medlemmer kan du kontakte NNUG for å holde foredrag om teknologien med relasjon til produktet, og i noen tilfeller produktet i seg selv. Det vi derimot ikke liker er snikreklame som blir lagt inn i forumet vårt. Dette vil bli fjernet umiddelbart.</p>
</div>
