<div class="content-block">
    <h1>Tips til foredragsholdere</h1>
    <p>Vi ønsker at stadig flere skal ha muligheten til å bidra med å spre sin kompetanse og erfaring i NNUG-nettverket. For å hjelpe deg som skal holde et foredrag, har vi noen enkle tips og triks som kan hjelpe deg til å bli bedre rustet til å holde et bra innlegg.</p>

    <h2>Øv deg på innholdet!</h2>
    <p>Ingen er naturlig flinke til å holde foredrag foran en mengde mennesker, det krever mye trening og øvelse. Det beste man kan gjøre for å forberede et innlegg er å øve og øve. Du kan gjerne spille inn deg selv på webkamera på PCen, på den måten kan du se om du forholder deg naturlig, trene på å bevege blikket til deltakerene og ikke minst: Du blir veldig fort bevisst over eventuelle pause-lyder du lager, som "mm" og "hmm", m.m..</p>
    <p>Forsøk å få til en naturlig overgang mellom noen av slidene i presentasjonen, slik at du forbereder deltakerne på hva de skal komme til å se nå. Du skal være i forkant av dine egne slides, pass på å ikke bli overrasket over ditt eget innhold.</p>

    <h2>Stillhet er bra</h2>
    <p>Lær å unngå pauselyder når du taler. Dette er en naturlig mekanisme vi har for å holde ordet i mindre forsamlinger og dialoger, men det virker mot sin hensikt når du holder foredrag og alle ørene er rettet mot deg. Stillhet er alltid bra, det gjør det mulig for deltakerne å reflektere over det du akkurat har sagt og klargjøre tankene før neste poeng.</p>

    <h2>Se ut mot salen, ikke på veggen!</h2>
    <ul>
        <li>Forsøk å bevege synspunktet ditt utover hele salen.</li>
        <li>Ikke se på veggen, du skal være selvsikker på dine egne slides og hva som står på de.</li>
    </ul>

    <h2>Møte opp i god tid</h2>
    <ul>
        <li>Sjekk ut forholdene hvor du skal holde foredrag, gå opp på podiet.</li>
        <li>Koble til PC og påse at prosjektor og alt fungerer riktig.</li>
        <li>Bruk tid til å hilse og prate med folk, forsøk å bli komfortabel med folkemengden. Dette hjelper litt mot nervene.</li>
    </ul>

    <h2>Forsøk å stå stille</h2>
    <ul>
        <li>Mange foredragsholdere beveger seg nervøs frem og tilbake, forsøk å stå stille.</li>
        <li>Noen ganger er det riktig å bevege seg på podiumet, men gjør det med en plan og mening.</li>
    </ul>

    <h2>Vis at du kan det du prater om</h2>
    <ul>
        <li>Det vil alltid være noen i salen som vet mer enn deg, det bør ikke være en hindring for å holde et foredrag.</li>
        <li>Vis at du vet hva du prater om, selv om du ikke alltid er sikker på hver eneste lille detalj. Ingen er perfekte, vi gjør ofte noe feil.</li>
        <li>Hvis du er usikker på det du prater om, vil deltakerne kunne føle at du kaster bort tiden deres. Det er alltid noen som vet mindre enn deg som du kan lære noe nytt, fokuser på det.</li>
    </ul>

    <h2>Andre tips</h2>

    <ul>
        <li>Å stå bak lekteren gir litt mer trygghet, men det skaper også mer avstand til de i salen. Forsøk å beveg deg nærmere dem som sitter i salen.</li>
        <li>Legg inn notater i slidene og bruk presenter-mode. Da får du en klokke som kan hjelpe til og du har notater som kan hjelpe slik at du husker alle poengene på hver slide.</li>
        <li>Invester i en trådløs mus eller presenter-dings, gjør det uavhengig av nærhet til laptoppen for å bytte slides. Dette gjør det mulig å bevege seg mer naturlig rundt på podiuet og komme nærmere dem i salen. Hvis du IKKE har trådløs mus, da må du i det minste unngå å springe frem og tilbake.</li>
        <li>Alltid vær ærlig, hvis noen spør om noe du ikke vet, si det rett ut at du ikke vet, men si at du kan hjelpe til med å finne ut av svaret på spørsmålet. F.eks. at du kan høre med en kollega eller bekjent.</li>
        <li>Del opp innlegget ditt i seksjoner, gjør det mulig å lære noe selv om man kun får med seg deler av foredraget. Ikke legg opp til at alle får med seg alle poengene dine, for å forstå konklusjonene.</li>
    </ul>  
    <p>Husk at målet vårt er å <strong>inspirere</strong> til å utforske nye ting når de kommer hjem, det er ikke fysisk mulig for noen å lære seg mye detaljer på et kort innlegg. Viktig at man har det gøy når man holder innlegg, hvis man er komfortabel og har det gøy på podiet, vil det smitte over på deltakerne i salen.</p>
</div>