<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="meetup">
      <section name="signedEventUrls" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <meetup>
    <signedEventUrls>
      <add key="nnugoslo" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnugoslo&amp;desc=false&amp;offset=0&amp;format=json&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=7998fb118d8e4cda8293dd147323f12ca3a6fc86" />
      <add key="nnug-trondheim" value="http://api.meetup.com/2/events?status=upcomingamp;&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-trondheim&amp;desc=false&amp;offset=0&amp;format=json&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=75570bbf791c28761c3bf584ea11bfd30af470ba" />
    </signedEventUrls>
  </meetup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>