<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="meetup">
      <section name="signedGroupUrls" type="System.Configuration.NameValueSectionHandler" />
      <section name="signedEventUrls" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <meetup>
    <signedGroupUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=nnugoslo&amp;photo-host=public&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=2c8a43eb8050a728676d7d86868952ad6a331fe0" />
      <add key="BitShift" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=bitshift&amp;photo-host=public&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=f07d64d5642abf0b3418e03991c4dd169ff0d867" />
      <add key="nnug-trondheim" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=nnug-trondheim&amp;photo-host=public&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=0e64921973e22d8589601890ceb6efd3f440104a" />
      <add key="nnug-stavanger" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=nnug-stavanger&amp;photo-host=public&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=083a59c2d9716aecba0da5b2feeb1d4b5dab3bcd" />
      <add key="nnug-kristiansand" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=nnug-kristiansand&amp;photo-host=public&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=bad2f75dcb2fa3d323a1850d1d5dcad4f90968f0" />
      <add key="nnug-haugesund" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=nnug-haugesund&amp;photo-host=public&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=86c6fe9572816650baa8b524901738ac7093afdf" />
      <add key="nnug-vestfold" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=nnug-vestfold&amp;photo-host=public&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=4ecdb6160658abdea0ebbe1a2601f0eea19fbd04" />
    </signedGroupUrls>
    <signedEventUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=nnugoslo&amp;photo-host=public&amp;page=20&amp;fields=&amp;order=time&amp;desc=false&amp;status=upcoming&amp;sig_id=97103452&amp;sig=84cee423fe3dd43bec22fd4f68b1f08da2211d86" />
      <add key="BitShift" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=bitshift&amp;photo-host=public&amp;page=20&amp;fields=&amp;order=time&amp;desc=false&amp;status=upcoming&amp;sig_id=97103452&amp;sig=29390db57fb77e65572f747c8dc5b4dab56f9d63" />
      <add key="nnug-trondheim" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=nnug-trondheim&amp;photo-host=public&amp;page=20&amp;fields=&amp;order=time&amp;desc=false&amp;status=upcoming&amp;sig_id=97103452&amp;sig=a09d20c23ce5826618485bb0718019c510beea58" />
      <add key="nnug-stavanger" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=nnug-stavanger&amp;photo-host=public&amp;page=20&amp;fields=&amp;order=time&amp;desc=false&amp;status=upcoming&amp;sig_id=97103452&amp;sig=9e63ea973369e35a060240b82c65e589ea55a8ea" />
      <add key="nnug-kristiansand" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=nnug-kristiansand&amp;photo-host=public&amp;page=20&amp;fields=&amp;order=time&amp;desc=false&amp;status=upcoming&amp;sig_id=97103452&amp;sig=18a4eba680053c5e7d2f4d4d452c6ad10de44485" />
      <add key="nnug-haugesund" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=nnug-haugesund&amp;photo-host=public&amp;page=20&amp;fields=&amp;order=time&amp;desc=false&amp;status=upcoming&amp;sig_id=97103452&amp;sig=175125bd8d89534e8b07fc7864ecd7d8b358a829" />
      <add key="nnug-vestfold" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=nnug-vestfold&amp;photo-host=public&amp;page=20&amp;fields=&amp;order=time&amp;desc=false&amp;status=upcoming&amp;sig_id=97103452&amp;sig=3bf0a50942ab0c615d6b28067e8413f5358c6a79" />
    </signedEventUrls>
  </meetup>
  <appSettings>
    <add key="useDesignTimeData" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="nb-NO" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>