<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="meetup">
      <section name="signedGroupUrls" type="System.Configuration.NameValueSectionHandler" />
      <section name="signedEventUrls" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <meetup>
    <signedGroupUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnugoslo&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=ddc91e97c08892afc6ae3f2b0589c1abc3ede700" />
      <add key="BitShift" value="https://api.meetup.com/2/groups?offset=0&amp;format=json&amp;group_urlname=BitShift&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;radius=25.0&amp;fields=&amp;order=id&amp;desc=false&amp;sig_id=97103452&amp;sig=c70325efcd1b13e267dbc38d7e8f37f9822971ba" />
      <add key="nnug-trondheim" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-trondheim&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=53b633cb7d9c686414b2ae404e147d6df6a75cfe" />
      <add key="nnug-stavanger" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-stavanger&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=d1871b35eb3d65f13e0d5552e093f9010c16d61a" />
      <add key="nnug-kristiansand" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-kristiansand&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=57d1d81038358c39e1bbd42616bab75b04df28c9" />
      <add key="nnug-haugesund" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-haugesund&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=ccafe2146cddd6db62ff022f549ef1fe6214729c" />
      <add key="nnug-vestfold" value="http://api.meetup.com/2/groups?radius=25.0&amp;order=id&amp;group_urlname=nnug-vestfold&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Crating%2Cmembers&amp;page=20&amp;fields=&amp;sig_id=97103452&amp;sig=4721ff3bbc591323eca26937734531cb69154dcc" />
    </signedGroupUrls>
    <signedEventUrls>
      <add key="nnug-online" value="" />
      <add key="nnugoslo" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnugoslo&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=40a6078cac936b154e57abbf6fa4af5d712c371a" />
      <add key="BitShift" value="https://api.meetup.com/2/events?offset=0&amp;format=json&amp;limited_events=False&amp;group_urlname=BitShift&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;order=time&amp;status=upcoming&amp;desc=false&amp;sig_id=97103452&amp;sig=277523275d29e743fcc50769b8a251d71fcb5fcd" />
      <add key="nnug-trondheim" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-trondheim&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=1c5c7f6501cfec9d57ea563cf1dea3319e3aabf5" />
      <add key="nnug-stavanger" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-stavanger&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=1221c8606c7717c7c107d45d124ea0e3d322532d" />
      <add key="nnug-kristiansand" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-kristiansand&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=217f24aa462c67676f35a2b8eaa2ddac055bf481" />
      <add key="nnug-haugesund" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-haugesund&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=b52e3a15d5b95eac92a9d025621b0aca919686c5" />
      <add key="nnug-vestfold" value="http://api.meetup.com/2/events?status=upcoming&amp;order=time&amp;limited_events=False&amp;group_urlname=nnug-vestfold&amp;desc=false&amp;offset=0&amp;format=json&amp;only=name%2Cevent_url%2Crsvp_limit%2Cvenue%2Cutc_offset%2Ctime%2Cwaitlist_count%2Cyes_rsvp_count%2C&amp;page=3&amp;fields=&amp;sig_id=97103452&amp;sig=2578c1c88a0217ea0e899417b3ff2a8748d6de1b" />
    </signedEventUrls>
  </meetup>
  <appSettings>
    <add key="useDesignTimeData" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="nb-NO" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>