.content-block {
  background: white;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.brand-text {
  color: #002d62;
  font-size: 30px;
  font-weight: 800;
  margin-left: 10px;
  white-space: nowrap;
  vertical-align: text-bottom;
}
figure {
  margin: 0px;
}
figcaption {
  font-size: smaller;
}
