body {
  padding-top: 100px;
}
footer {
  position: relative;
  padding: 20px;
  background: #555;
  color: #e7e7e7;
}
.navbar .nav.pull-right {
  margin-top: 15px;
}
.hero-unit {
  padding: 20px;
}
.span3.content-block {
  width: 200px;
}
