@media (min-width: 1200px) {
    .span3.content-block {
        width: 250px;
    }
}

@media (max-width: 1200px) {
    .brand-text {
        display: none;
    }

    .events .span4 {
        margin-right:1px;
        width: 100%;
        text-align: center;
    }
    
    .events .span8 {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 979px)  {
    .span3.content-block {
        width: 146px;
    }

    .navbar .container {
        width: 724px;
        padding: 0;
    }

    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .span3.content-block {
        width: 100%;
    }
    .navbar .container {
        width: auto;
        padding: 0 0 0 15px; 
    }

    .events .eventTime {
        margin-top: 0px;
    }

    .events .span4 {
        width: 80px;
        float: left;
        /*text-align: left !important;*/
    }
    
    .events .span8 {
        width: 80%;
        text-align: left;
        margin-left: 90px;
    }

    .events p {
        margin: 0px 5px;
    }

    .events a {
        text-decoration: none !important;
    }
}
